/* ============================
   Post Headers
   ============================ */
.post-header {
  margin-bottom: 2.5rem;
}

.post {
  max-width: 900px;
}

/* ============================
   Post Meta
   ============================ */
.post-meta {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--post-meta-text-color);
  margin-bottom: 2rem;
  font-weight: 800;
}

/* ============================
   Post Content
   ============================ */
.post-content {
  font-family: var(--font-body);
  font-size: 1.1rem;
  background: rgb(35, 32, 32); /* this is the BG color for the box containing content */
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  line-height: 1.7;
  max-width: 100%;
}

.post-content h2 {
  font-family: var(--font-title);
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  font-weight: 400;

}

.post-content h3 {
  font-family: var(--font-body);
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  color: var(--text-color);
  font-weight: 600;
}

.post-content p {
  margin-bottom: 1rem;
}

.post-content ul,
.post-content ol {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.post-content a {
  color: var(--primary-color);
  text-decoration: underline;
}

.post-content a:hover {
  color: #2c5aa0;
}
